# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @vizoomartin and @PatrickOnVizoo3d will be requested for
# review when someone opens a pull request.
* @vizoomartin @PatrickOnVizoo3d